.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h5 {
  margin-bottom: 2px; /* Reduce the bottom margin of the headings */
}
h3 {
  height: 30px;
  display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.MyApp {
  min-height: 20mm;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 20mm;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height to center vertically */
  z-index: 1; /* Ensure the form is on top */
}
.Color {
  margin: 10px;
  display: flex;
  width: 200px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
}
.square {
  width: 50px;
  height: 50px;
  font-size: large;
  font-style: normal;
  font-display: block;
  font-family: "Courier New", Courier, monospace;
}
.board-row {
  width: 150px;
  height: 50px;
}

.TicTacToe {
  background-color: rebeccapurple;
  font-size: calc(10px + 2vmin);
  color: white;
  font-size: calc(10px + 2vmin);
}
.MyApp {
  display: table;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  padding: 20px; /* Add some padding */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.App-header {
  background-color: #282c34;
  min-height: 20mm;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px; /* Add some space below the header */
}

.Form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px; /* Add some space below the form */
}

.Color-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px; /* Add some space below the color change component */
}

footer {
  margin-top: 20px; /* Add some space above the footer */
  text-align: center;
  width: 100%;
}

.align {
  flex-direction: row;
}
